<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>Pidoo Socio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pidoo.socio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.pidoo.socio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>46</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Pidoo Socio incluye el sistema de cobro con tarjeta de Stripe, que puede usar Bluetooth para conectar con un lector de tarjetas cuando cobras un pedido. Pidoo no usa el Bluetooth para nada más.</string>
	<key>NSCameraUsageDescription</key>
	<string>Pidoo usa la cámara para subir el logo o banner de tu marketplace.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Pidoo Socio necesita tu ubicación en segundo plano para seguir asignándote pedidos cercanos aunque la app esté minimizada o cerrada mientras estás en servicio.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Pidoo Socio usa tu ubicación para asignarte los pedidos más cercanos mientras estás en servicio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pidoo puede guardar imagenes en tu galeria.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pidoo accede a tus fotos para elegir el logo o banner de tu marketplace.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
